body {
	background-color:  yellow;
}
header {
	height:  150px;
	background-color:  orange;
}
nav {
	height:  50px;
	background-color:  green;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	font-family:  Arial;
	font-weight:  bold;
	color:  white;
	font-size:  18px;
}
.main-content {
	min-height:  500px;
	background-color:  white;
}
.sidebar {
	min-height:  500px;
	background-color:  aqua;
}
.footer {
	height:  150px;
	background-color:  gray;
}